<mat-card>
  <mat-card-title>Alterar Produto</mat-card-title>
  <form>
    <mat-form-field>
      <input
        matInput
        placeholder="titulo"
        [(ngModel)]="task.titulo"
        name="name"
      /> </mat-form-field
    ><br />
    <mat-form-field>
      <input
        matInput
        placeholder="Descrição"
        [(ngModel)]="task.descricao"
        name="preco"
      />
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-label>Prioridade:</mat-label>
      <mat-select>
        <mat-option *ngFor="let prioridade of prioridades" [value]="prioridade">
          {{ prioridade }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-label>Prazo final da tarefa:</mat-label>
      <input matInput type="text" [matDatepicker]="picker" />
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker"
      ></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </form>

  <button mat-raised-button (click)="alterarTask()" color="accent">
    Atualizar</button
  >&nbsp;

  <button mat-raised-button (click)="cancelarAlteracao()">Cancelar</button>
</mat-card>
