<mat-card>
  <mat-card-title>Novo Produto</mat-card-title>
  <form>
    <mat-form-field>
      <input
        matInput
        placeholder="Titulo da Tarefa"
        [(ngModel)]="todo.titulo"
        name="titulo"
      /> </mat-form-field
    ><br />
    <mat-form-field>
      <input
        matInput
        placeholder="descreva sua tarefa"
        [(ngModel)]="todo.descricao"
        name="descricao"
      />
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-label>Prioridade</mat-label>
      <mat-select>
        <mat-option *ngFor="let prioridade of prioridades" [value]="prioridade">
          {{ prioridade }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-label>Prazo final da tarefa:</mat-label>
      <input matInput type="text" [matDatepicker]="picker" />
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker"
      ></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </form>

  <button mat-raised-button (click)="criarProduto()" color="primary">
    Salvar
  </button>

  <button mat-raised-button (click)="cancelarRegistro()">Cancelar</button>
</mat-card>
