<mat-card>
  <mat-card-title>Confirmar Exclusão de Produto</mat-card-title>
  <form>
    <mat-form-field>
      <input
        matInput
        placeholder="Nome"
        [value]="task.titulo"
        name="name"
        disabled
      /> </mat-form-field
    ><br />
    <mat-form-field>
      <input
        matInput
        placeholder="Preço"
        [value]="task.descricao"
        name="preco"
        disabled
      />
    </mat-form-field>
  </form>

  <button mat-raised-button (click)="deletarTask()" color="warn">Excluir</button
  >&nbsp;

  <button mat-raised-button (click)="cancelarExclusao()">Cancelar</button>
</mat-card>
